.bgfondo{
    background-image: url(../../public/images/inicio/seccion1/fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgbg{
    width: 28rem;
}
